<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    
    <p>We detected an error for <%= @site.url %>:</b>

    <blockquote>
      * <%= @site.message %>
    </blockquote>

    <p>We'll send a new notification when the error is resolved.</p>

  </body>
</html>