<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    
    <p>The previously detected error for <%= @site.url %>:</b>
 
    <blockquote>
      * <%= @site.message %>
    </blockquote>
 
    <p>is now resolved after <%= @downtime %> of downtime.</p>
 
  </body>
</html>