// Place all the styles related to the sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#action-btn {
  float: right
}

#sites-table .actions {
float: right
}

// for radio buttons "Contains/not contains"
div.url {
	margin-top: 20px
}
div.radio_buttons.contains {
	label.radio_buttons {
		display: inline
	}
	label.radio_buttons, span.radio {
		float: left; margin-right: 8px;
	}
	margin-top: 20px
}

div.validate_text {
	clear: both;
	margin-bottom: 20px;
	label {
		display: none
	}
}