<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
      <div class="container">
      <a class="brand" href="#">Picket</a>
      <div class="container nav-collapse">
        <ul class="nav pull-right">
          <li><%= link_to('Login', new_user_session_path) %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
